<template name="drawCourse">
	<div class="header">
		<span class="title">{{ name }}</span> 
	</div>

	<div class="container">
		<h2>Draw Racecourse Elements</h2>
		{{#if error}}
		<span id="error" style="color: red;">
			{{error}}
		</span>
		{{/if}}
		<form>
			<fieldset>
				<div class="form-group">
					<label class="col-lg-2 control-label" for="name">course name</label>
					<div class="controls col-lg-10">
						<input id="name" class="form-control" type="text" required value="{{courseName}}"/>
						<span class="help-block">Each course for a venue requires a unique name</span>
					</div>

					<label class="col-lg-2 control-label" for="laneWidth">lane width in meters</label>
					<div class="controls col-lg-10">
						<input id="laneWidth" class="form-control" type="number" required min="10" max="20" step="0.1" value="{{orDefault laneWidth '13.5'}}"/>
						<span class="help-block">FISA spec 13.5 metres</span>
					</div>

					<label class="col-lg-2 control-label" for="element">element to draw</label>
					<div class="controls col-lg-10">
						<select id="element" class="form-control" required>
							<option value="FINISH">Finish</option>
							<option value="START">Start</option>
							<option value="COURSE">Center</option>
						</select>
					</div>

					<div id="raceLengthGroup">
						<label class="col-lg-2 control-label" for="raceLength">race length in meters</label>
						<div class="controls col-lg-10">
							<input id="raceLength" class="form-control" type="number" required min="500" max="5000" step="500" value="{{raceLength}}"/>
							<span class="help-block">required</span>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
		<div id="drawRacecourseMap" class="map-large leaflet-drawing"></div>
	</div>
</template>
