<template name="regattas">
	<div class="container">
		{{#if isInRole 'admin'}}
		<h2>Manage Regattas</h2>
		{{else}}
		<h2>Regattas</h2>
		{{/if}}
		<form>
			<ul class="list-group">
				{{#each regattas}}
				<li class="list-group-item">
					{{#if regattaNotChosen}}
					<button class="btn btn-primary btn-sm switchButton">Switch</button>
					{{/if}}
					<a href="/regattaUpdate/{{_id}}">{{name}}<span class="pull-right"><span class="arrow">&nbsp;&gt;</span></span></a>
				</li>
				{{/each}}
			</ul>
		</form>
		{{#if isInRole 'admin'}}
		<!-- add button if isInRole 'admin' -->
		<button type="submit" class="btn btn-primary btn-sm plusButton">
				<i class="icon-plus icon-white"></i> New</button>
		{{/if}}
	</div>
</template>
