<template name="regattas">
	<div class="container">
		{{#if isInRole 'admin'}}
		<h2>Manage Regattas</h2>
		{{else}}
		<h2>Regattas</h2>
		{{/if}}
		<form>
			{{#each regattas}}
				<a class="btn btn-default btn-xs btn-block" href="/regattaUpdate/{{_id}}">{{name}} <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
			{{/each}}
		</form>
		{{#if isInRole 'admin'}}
		<!-- add button if isInRole 'admin' -->
		<button type="submit" class="btn btn-primary btn-sm plusButton">
				<i class="icon-plus icon-white"></i> New</button>
		{{/if}}
	</div>
</template>
