<template name="venues">	
	<div class="header">
		<span class="title">{{ regatta.name }}</span> 
	</div>
	
	<div class="container">
		<h2>Venues</h2>
		<div class="container well well-main">
			<form>
				{{#each venues}}
				<p><a href="/venues/{{_id}}">{{name}}<span class="right"><span class="arrow">&nbsp;&gt;</span></span></a></p>
				{{/each}}
			</form>
		</div>
		{{#if isInRole 'admin'}}
		<!-- switch button if isInRole 'admin' -->
		<input type="button" class="button btn btn-primary btn-sm add" value="&nbsp;+&nbsp;"/>
		{{/if}}
	</div>
</template>
