<template name="venues">	
	<div class="container">
		<h2>Venues</h2>
		<div class="container well well-main">
			<form>
				<ul class="list-group">
				{{#each venues}}
					<li class="list-group-item">
						<a href="/venueUpdate/{{_id}}">{{name}} <span class="right"><span class="arrow">&nbsp;&gt;</span></span></a>
					</li>
				{{/each}}
				</ul>
			</form>
		</div>
		{{#if isInRole 'admin'}}
		<!-- add button if isInRole 'admin' -->
		<button type="submit" class="btn btn-primary btn-sm plusButton">
  			<i class="icon-plus icon-white"></i> New</button>
		{{/if}}
	</div>
</template>
